<template>
  <v-app id="inspire">
    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-toolbar-title>Admin login</v-toolbar-title>
            <v-card class="elevation-12">
              <v-toolbar
                prominent
                src="https://i.imgur.com/14EIHBk.png"
                color="white"
                dark
                flat
                width="500px"
                height="90px"
              ></v-toolbar>
            <v-spacer></v-spacer>
              <v-card-text>
                <v-form>
                  <v-text-field
                    v-on:change="log"
                    v-model="login"
                    id="login"
                    label="Login"
                    name="login"
                    type="text"
                    autocomplete
                  />
                  <v-text-field
                    v-on:change="log"
                    v-model="password"
                    id="password"
                    label="Password"
                    name="password"
                    type="password"
                    autocomplete
                  />
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn @click="check" color="primary">Login
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
    </v-container>
    </v-content>
  </v-app>
</template>
<script>
  export default {
    data: {
       login: null,
       password: null
    },
    props: {
      source: String,
    },
    methods: {
        check: function (){
          //faire la fonction du bouton login
          console.log("c'est cliqué")
        },
        log: function(){
            console.log(this.login),
            console.log(this.password)
        },
    }
  }
</script>