<template>
    <v-layout>
        <v-flex>
            <div>
                <admin-header />
            </div>
            <div style="display:flex; flex-direction:column">
                <add-badge />
                <badge-list />
            </div>
        </v-flex>
    </v-layout>
</template>

<script>
import AdminHeader from '~/components/AdminHeader.vue'
import AddBadge from '~/components/AddBadge.vue'
import BadgeList from '~/components/BadgeList.vue'

export default {
  components: {
    AdminHeader,
    AddBadge,
    BadgeList
  }
}
</script>