<template>
    <v-layout>
        <v-flex>
            <div>
                <admin-header />
            </div>
            <div style="display:flex; flex-direction:column">
                <div style="display:flex; justify-content:space-around; margin: 10px 0px">
                    <h2 class="btn" v-on:click="test = true" :class="test?'btn-on':''">Signalés</h2>
                    <h2 class="btn" v-on:click="test = false" :class="test?'':'btn-on'">Validés</h2>
                </div>
                <div>
                    <component :is="dynamicComponent"></component>
                </div>
            </div>
        </v-flex>
    </v-layout>
</template>

<script>
import AdminHeader from '~/components/AdminHeader.vue'
import CommentSignal from '~/components/CommentSignal.vue'
import CommentValid from '~/components/CommentValid.vue'

export default {
  components: {
    AdminHeader,
    CommentSignal,
    CommentValid
  },
  props: {
    value: {
      type: Boolean,
      default: true
    }
  },

  data() {
    return {
        test: false
    }
  },

  computed: {
    dynamicComponent() {
      if(this.test) {
        return 'comment-signal';
      } else {
        return 'comment-valid';
      }
    }
  },
  mounted() {
    this.test = this.value
  }
}
</script>

<style>
  .btn {
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 3px black;
  }
  .btn-on {
    background-color: rgb(61, 61, 61);
    color: white;
  }
</style>