<template>
    <v-layout>
        <v-flex>
            <div>
                <admin-header />
            </div>
            <div style="display:flex; justify-content:space-around">
                <index-users />
                <index-comments />
            </div>
        </v-flex>
    </v-layout>
</template>

<script>
import AdminHeader from '../../components/AdminHeader.vue'
import IndexUsers from '../../components/IndexUsers.vue'
import IndexComments from '../../components/IndexComments.vue'

export default {
  components: {
    AdminHeader,
    IndexUsers,
    IndexComments
  }
}
</script>
