<template>
    <v-layout>
        <v-flex>
            <div>
                <admin-header />
            </div>
            <div style="display:flex; flex-direction:column">
                <add-user />
                <user-list />
            </div>
        </v-flex>
    </v-layout>
</template>

<script>
import AdminHeader from '~/components/AdminHeader.vue'
import AddUser from '~/components/AddUser.vue'
import UserList from '~/components/UserList.vue'

export default {
  components: {
    AdminHeader,
    AddUser,
    UserList
  }
}
</script>