<template>
    <v-form v-model="valid" style="max-width:900px; margin:auto;">
            <v-text-field label="Titre" v-model="form.name" required></v-text-field>
            <div class="img-select">
                <img v-for="badge in badges" :key="badge"
                    :src="require('../assets/badges/' + badge + '.png')" 
                    v-on:click="form.image = (form.image == badge) ? null : badge"
                    :class="{ clicked: form.image == badge }" />
            </div>
        
        <v-btn @click="submit" style="display:block; margin:auto;">Créer</v-btn>
    </v-form>
</template>

<script>

export default {
    name: 'AddBadge',
    data() { 
        return {
            valid: false,
            badges: [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 14, 20, 30 ],
            form: {
                image: -1,
                name: ''
            }
        }
    },
    methods: {
        submit() {
            this.$axios.post('/api/v2/badges', this.form).then((response) => {
                // ICI : gérer le succès (afficher message...)
            }).catch((error) => {
                // ICI : gérer les éventuelles erreurs (afficher message...)
            })
        }
    }
}

</script>

<style lang="postcss" scoped>

img {
  opacity: 0.25;
  filter: alpha(opacity=25);
  cursor: pointer;
  width: 40px;
}
img:hover {
  opacity: 0.55;
  filter: alpha(opacity=55);
}
img.clicked {
    opacity: 1.0;
    filter: alpha(opacity=100)
}

</style>