
<template>
    <div class="AddUser" dark>
        
        
        <v-btn class="button ma-2" tile outlined color="#407dc2" @click="showModal = !showModal"><v-icon left>mdi-plus</v-icon> Ajouter un utilisateur </v-btn>
        <form  class="form" v-if="showModal" >
            
                <v-col class="addUser-input" cols="14" sm="14" md="14">
                    <v-text-field class="addUser-inputText" dense label="Nom" name ="FirstName"></v-text-field>
                </v-col>
                <v-col class="addUser-input" cols="14" sm="14" md="14">
                    <v-text-field class="addUser-inputText" dense label="Prénom" name="LastName"></v-text-field>
                </v-col>
                <v-col class="addUser-input" cols="14" sm="14" md="14">
                    <v-text-field class="addUser-inputText" dense label="Mail" name="Mail"></v-text-field>
                </v-col>
                <div class="submitButton my-2">
                <v-btn color="#407dc2" dark>Valider</v-btn>
                </div>
            
        </form>
    </div>
</template>
    
<script>
export default {
    name : 'AddUser',
    data(){
        return {
            showModal: false
            }
        },
    
}

// const UserAdd = [
//     {
        
//     },
//     {

//     },
//     {

//     }
// ]

// axios({
//     method: 'post',
//     url: '/api/v2/users',
//     data: UserAdd
// })
// .then(function (reponse) {
//     //On traite la suite une fois la réponse obtenue 
//     console.log(reponse);
// })
// .catch(function (erreur) {
//     //On traite ici les erreurs éventuellement survenues
//     console.log(erreur);
// });

</script>

<style lang="postcss" scoped>

.border{
    border: 1px solid black;
    border-radius:10px;
}
.AddUser{
    background-color: #424242;
    font-family: Roboto;
    min-height: 0px!important;
    
    
}
.v-application--wrap {
    min-height: unset !important;
}
.addUser-input{
    color: #407dc2;
    border:  #407dc2; 
   
    margin: auto;
}

.inputText{
    
    color: #407dc2;
}

.form{
    /* border: 1px solid black; */
    position: relative;
    margin: 35px auto 35px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 250px;
    padding: 15px 25px ;
}
.submitButton.my-2{
    
    margin:auto;
}

.button.ma-2{
    border: 2px solid ;
    display: block;
    margin: 35px auto 35px auto;
    width: 75%;
}


</style>