<template>
    <header>
        <div class="topLeft">
            <h1>Adopte Un Dev</h1>
            <ul>
                <li><a href="../admin" :class="{ active: route == 'admin' }">Acceuil</a></li>
                <li><a href="../admin/users" :class="{ active: route == 'admin-users' }">Utilisateur</a></li>
                <li><a href="../admin/comments" :class="{ active: route == 'admin-comments' }">Commentaires</a></li>
                <li><a href="../admin/badges" :class="{ active: route == 'admin-badges' }">Badges</a></li>
            </ul>
        </div>
        <div class="topRight">
            <address>Nom d'utilisateur</address>
            <button>Déconnexion</button>
        </div>
    </header>
</template>

<style lang="postcss" scoped>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(49, 49, 49);
        color: white;
        padding: 10px;
    }

    .active {
        color: white;
    }

    .topLeft, .topRight {
        display: flex;
        align-items: center;
    }

    h1 {
        font-size: 20px;
    }

    ul {
        display: flex;
        list-style: none;
        align-items: center;
        padding-left: 20px;
    }

    li {
        padding: 12px 16px;
    }

    a, address {
        text-decoration: none;
        color: rgb(117, 117, 117);
    }a:hover {
        color: rgb(150, 150, 150);
    }

    button {
        background-color: gray;
        padding: 12px 16px;
        margin-left: 10px;
        border-radius: 15px;
    }

    .btnOn {
        color: white;
    }

</style>

<script>

export default {
    name: 'AdminHeader',
    mounted() {

    },
    data() {
        return {
            route: this.$router.currentRoute.name
        }
    },
    methods: {

    }
}

</script>
