<template>
    <div id="principal">
        <div id="badge-list">
            <div v-for="image in images" :key="image">
                <img class="badges" :src="require('../assets/badges/' + image.img)">
                <p>{{image.name}}</p>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    mounted() {
      axios.get('/badges', {baseURL: "http://localhost:8000"}).then((response) => {
        this.images = response.data
        console.log(this.images)
      })
    },
    data() {
        return {
            badge: null,
            name: 'BadgeList',
            images: null
        }
    }
}
</script>

<style>

    #principal {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 10px;
        max-width: 900px;
    }

    #badge-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* background-color: rgb(58, 58, 58); */
        max-width: 900px;
        text-align: center;
        border-radius: 20px;
        overflow: auto;
        border: solid 1px black;
    }

    .badges {
        padding-top : 15px;
        width: 100px;
        margin: 5px;
        margin-bottom: 1px;
    }
</style>
