<template>
    <v-app style="margin:0 auto; max-width: 900px"> 
        <v-simple-table light
            fixed-header=true
            height=100%
            style="box-shadow: 0 0 3px black"
        >
      <template v-slot:default>
        <thead>
          <tr>
            <th class="grey subtitle-1">ID</th>
            <th class="text-left grey subtitle-1">Commentaire</th>
            <th class="grey"></th>
            <th class="grey"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="comment in comments" :key="comment">
            <td>{{ JSON.parse(comment).id }}</td>
            <td>{{ JSON.parse(comment).text }}</td>
            <td>
                <img src="../assets/button/validation.png" v-on:click="validateComment(JSON.parse(comment).id)"/>
            </td>
            <td>
                <img src="../assets/button/delete.png" v-on:click="deleteComment(JSON.parse(comment).id)"/>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>

    </v-app>
    
</template>

<script>
export default {
    name: 'CommentSignal',
    mounted() {
        this.$axios.get(`/comments`).then((response) => {
            this.comments = response.data
        })
    },
    methods: {
        validateComment(id) {
            console.log("validate ", id)
        },
        deleteComment(id) {
            console.log("delete ", id)
        }
    },
    data() {
        return {
            comments: this.comments
        }
    }
}
</script>

<style lang="postcss" scoped>
    img {
        width: 40px;
    }
</style>
