<template>
    <v-container grid-list-md fluid class="containerU">
      <v-layout column class="columnS">
        <v-flex md1 d-flex color="primary">
          <v-card
            style="border-radius: 4px; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); margin: 10px;"
            max-width="350"
            outlined
          >
            <v-list-item three-line>
              <v-list-item-content>
                <div class="overline mb-4">Test</div>
                <v-list-item-title class="headline mb-1">Headline 5</v-list-item-title>
                <v-list-item-subtitle>Greyhound divisely hello coldly fonwderfully</v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-avatar
                tile
                size="80"
                color="grey"
                style="background-color: bisque; border-radius: 50px;"
              ></v-list-item-avatar>
            </v-list-item>
          </v-card>
        </v-flex>


        <v-flex md11 d-flex>
          <v-card
            style="border-radius: 4px; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); margin: 10px;"
            class="mx-auto"
            max-width="344"
            outlined
          >
            <v-list-item three-line>
              <v-list-item-content>
                <div class="overline mb-4">OVERLINE</div>
                <v-list-item-title class="headline mb-1">Headline 5</v-list-item-title>
                <v-list-item-subtitle>Greyhound divisely hello coldly fonwderfully</v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-avatar
                tile
                size="80"
                color="grey"
                style="background-color: bisque; border-radius: 50px;"
              ></v-list-item-avatar>
            </v-list-item>

          </v-card>
        </v-flex>


        <v-flex md11 d-flex>
          <v-card
            style="border-radius: 4px; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); margin: 10px;"
            class="mx-auto"
            max-width="344"
            outlined
          >
            <v-list-item three-line>
              <v-list-item-content>
                <div class="overline mb-4">OVERLINE</div>
                <v-list-item-title class="headline mb-1">Headline 5</v-list-item-title>
                <v-list-item-subtitle>Greyhound divisely hello coldly fonwderfully</v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-avatar
                tile
                size="80"
                color="grey"
                style="background-color: bisque; border-radius: 50px;"
              ></v-list-item-avatar>
            </v-list-item>
          </v-card>
        </v-flex>


        <v-flex md11 d-flex>
          <v-card
            style="border-radius: 4px; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); margin: 10px;"
            class="mx-auto"
            max-width="344"
            outlined
          >
            <v-list-item three-line>
              <v-list-item-content>
                <div class="overline mb-4">OVERLINE</div>
                <v-list-item-title class="headline mb-1">Headline 5</v-list-item-title>
                <v-list-item-subtitle>Greyhound divisely hello coldly fonwderfully</v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-avatar
                tile
                size="80"
                color="grey"
                style="background-color: bisque; border-radius: 50px;"
              ></v-list-item-avatar>
            </v-list-item>


          </v-card>
        </v-flex>


        <v-flex md11 d-flex>
          <v-card
            style="border-radius: 4px; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); margin: 10px;"
            class="mx-auto"
            max-width="344"
            outlined
          >
            <v-list-item three-line>
              <v-list-item-content>
                <div class="overline mb-4">OVERLINE</div>
                <v-list-item-title class="headline mb-1">Headline 5</v-list-item-title>
                <v-list-item-subtitle>Greyhound divisely hello coldly fonwderfully</v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-avatar
                tile
                size="80"
                color="grey"
                style="background-color: bisque; border-radius: 50px;"
              ></v-list-item-avatar>
            </v-list-item>


          </v-card>
        </v-flex>


        <v-flex md11 d-flex>
          <v-card
            style="border-radius: 4px; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); margin: 10px;"
            class="mx-auto"
            max-width="344"
            outlined
          >
            <v-list-item three-line>
              <v-list-item-content>
                <div class="overline mb-4">OVERLINE</div>
                <v-list-item-title class="headline mb-1">Headline 5</v-list-item-title>
                <v-list-item-subtitle>Greyhound divisely hello coldly fonwderfully</v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-avatar
                tile
                size="80"
                color="grey"
                style="background-color: bisque; border-radius: 50px;"
              ></v-list-item-avatar>
            </v-list-item>


          </v-card>
        </v-flex>

        <v-flex md11 d-flex>
        <v-card
          style="border-radius: 4px; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); margin: 10px;"
          class="mx-auto"
          max-width="344"
          outlined
        >
          <v-list-item three-line>
            <v-list-item-content>
              <div class="overline mb-4">OVERLINE</div>
              <v-list-item-title class="headline mb-1">Headline 5</v-list-item-title>
              <v-list-item-subtitle>Greyhound divisely hello coldly fonwderfully</v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-avatar
              tile
              size="80"
              color="grey"
              style="background-color: bisque; border-radius: 50px;"
            ></v-list-item-avatar>
          </v-list-item>

        </v-card>
      </v-flex>

      </v-layout>
    </v-container>
</template>

<script>
export default {
    name: 'IndexUser'
}
</script>

<style>

  .columnS{
    margin: 10px;
  }
  .containerU {
    width: 340px;
    overflow: scroll;
    max-height: 75vh;
    margin: 3rem;

    border-style: solid;
    border-width: 0.2px;
    border-radius: 4px;
    border-color: #7f828b;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);




    scroll-behavior: auto;

  }
</style>
