<template>
    <v-app style="margin:0 auto; max-width: 900px">
        <v-simple-table light
            fixed-header=true
            height=100%
            style="box-shadow: 0 0 3px black"
        >
        <template v-slot:default>
            <thead>
                <tr>
                    <th class="grey subtitle-1">ID</th>
                    <th class="text-left grey subtitle-1">Commentaire</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="comment in comments" :key="comment">
                    <td>{{ JSON.parse(comment).id }}</td>
                    <td>{{ JSON.parse(comment).text }}</td>
                </tr>
            </tbody>
        </template>
        </v-simple-table>
    </v-app>
</template>

<script>

export default {
    name: 'IndexComments',
    mounted() {
        this.$axios.get(`/api/v2/comments`).then((response) => {
            this.comments = response.data
        })
    },
    methods: {
        deleteComment(id) {
            console.log("delete ", id)
        }
    },
    data() {
        return {
            comments: this.comments
        }
    }
}
</script>

<style lang="postcss" scoped>
    img {
        width: 40px;
    }
</style>