<template>
<v-app>
<div id ="page">
    <v-simple-table
      fixed-header=true
      height=300
    >
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">Nom</th>
            <th class="text-left">Prénom</th>
            <th class="text-left">Photo</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="client in clients" :key="client">
            <td>{{ client.firstName }}</td>
            <td>{{ client.lastName }}</td>
            <td><v-img :src="client.avatar"></v-img></td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
</div>
</v-app>
</template>

<script>

export default {
  name: 'UserList',
  mounted () {
    this.$axios.get(`/profils`).then((response) => {
    this.clients = response.data
    }).catch((error) => console.log(error))
  },
  data () {

    return {
      clients: this.clients,
        props: {
          source: String,
        },
    }
  },
    
}

</script>

<style>

      #page {
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      .listitem {
        text-align: center;
        display: flex;
      }
    
</style>